<article class="post">
  <div class="post-title">
    <h2 class="title"><%= page.title %></h2>
  </div>
   <div class="post-meta">
    <span class="post-time"><%- date(page.date, "YYYY-MM-DD") %></span>
  </div>
  <div class="post-content markdown-body">
    <%- page.content %>
  </div>
  <div class="post-tag">
    <span>标签：</span>
    <% page.tags.each(function (tag) { %>
      <a class="post-tag--link" href="<%= url_for(tag.path) %>">#<%= tag.name %></a>
    <% }) %>
  </div>  
</article>