<section class="archive tag">
  <h3 class="title-archive">标签</h3>
  <div class="archive-list">
    <a class="archive-link" href="/tags/">All</a>， 
    <%- list_tags({
      style: 'unordered list',
      transform(post) {
        return post
      }
    }) %>
  </div>
  
  <a href="<%- url_for(page.base)%>">
    <h3 class="title-archive"><%-page.tag%></h3>
  </a>
  <ul class="archive-list">
    <% page.posts.each(function (post) { %>
      <li class="post-item">
        <span class="post-date"><%= date(post.date, "YYYY/MM/DD") %></span>&nbsp;
        <a class="post-title" href="<%- url_for(post.path) %>"><%= post.title %></a>
      </li>
    <% }) %>
  </ul>
</section>